@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

/* Estilos de la caja de chat */
.chat-box {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.user-message,
.bot-message {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.bot-message {
  background-color: #e6f2ff;
}

/* Estilos generales */
body {
  padding-top: 56px; 
  background-color: #f9f9f9;
  color: #333;
}

.sidebar {
  background-color: #f5f5f5;
  border-radius: 1rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem; 
  margin: 1rem; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  color: #666;
}

.main-content {
  max-width: 900px;
  margin: auto;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 50px;
}

.container-section {
  margin-top: 3rem;
  text-align: justify;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.container-section h2 {
  color: #336699;
  margin-bottom: 1.5rem;
}

.container-section ul {
  list-style: none;
  padding: 0;
}

.container-section li {
  border: 0;
  margin-bottom: 0.5rem;
}

.container-section p {
  margin-top: 1.5rem;
}

.nav-link:hover {
  background-color: #336699;
  color: #fff;
}

.navbar-brand {
  color: #336699;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #666;
}

.navbar-nav .nav-link:hover {
  background-color: #336699;
  color: #fff;
}

.form-group {
  background: #336699;
  padding: 1rem;
  border-radius: 0.5rem;
}

textarea {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#send-btn {
  background-color: #336699;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.float-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #336699;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.float-btn:hover {
  background-color: #264d73;
}

.float-btn a {
  color: #fff;
  text-decoration: none;
}
.float-btn a:hover {
  color: #fff;
  text-decoration: none;
}

/* Estilos del primer contenedor */
.bobby-container {
  background-color: #f9f9f9;
  border-radius: 1rem;
  border: 2px solid #336699;
  display: flex;
  margin-bottom: 2rem;
}

.text-container {
  flex: 1;
  padding: 2rem;
}

.text-container h3 {
  font-size: 24px;
  text-align: center;
  color: #336699; 
  margin-bottom: 1.5rem;
}

.text-container p {
  font-size: 16px;
  line-height: 1.6;
}

.image-container {
  flex-shrink: 0;
}

.bobyb {
  background-image: url('/static/img/Presentando-unscreen.gif');
  width: 220px;
  height: 315px;
  background-size: cover;
  margin-top: 1px;
  margin-bottom: 30px;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .bobby-container {
    flex-direction: column;
  }

  .text-container {
    padding: 2rem 1rem;
  }

  .bobyb {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

/* Ajustes para pantallas pequeñas */
.navbar {
  min-height: 50px;
}

.main-content {
  padding: 2rem 1rem; /* Reducir el padding en pantallas pequeñas */
}

.container-section {
  margin-bottom: 2rem;
}

h1, h2, h4 {
  font-size: 22px;
}

.container-section p, .text-container p {
  font-size: 14px;
}

.navbar-nav .nav-link {
  font-size: 14px;
}

.navbar-brand {
  font-size: 18px;
}

.sidebar-sticky a {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    text-align: center; /* Centra el texto en la barra lateral en pantallas pequeñas */
  }
}
