<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generador de Imágenes</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <header>
        <h1>GENERADOR DE IMÁGENES</h1>
    </header>
    <div class="chat-container">
        <section class="imageContainer" id="imageContainer"></section>
        <section class="inputContainer">
            <form id="imageForm">
                <input type="text" class="description" placeholder="Dame imágenes sobre..." required />
                <button type="button" class="submit">Generar</button>
            </form>
        </section>
    </div>



    <script src="/main.js"></script>
</body>
</html>
