<html>

<head>
  <title>CHAT APP DE COMUITY TRAINING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<nav>
			<a href="#">Inicio</a>
			<a href="#competenciasO">Competencias</a>
      <a href="#chatbots">Chat Bot</a>
		</nav>
	</header>

	<div class="encabezado-img">
		<p>Bienvenido a CHATBOT</p>
		<h1 class="txt-white">Espacio de Autoaprendizaje</h1>
		<p>Decubre como mejorar tus competencias</p>
	</div>
  <br><br>
  <div class="container-fluid sticky-top">
    <div class="row">
        <nav class="col-md-12 col-lg-2 col-xl-2 d-md-block sidebar ">
            <div class="sidebar-sticky sticky-top">
                <ul class="nav flex-column text-white,nav-item">
                    <li>
                        <a class="nav-link" href="#competenciasO">
                            <span class="text-white">Competencias Organizacionales</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#generando-ideas">
                            <span >Generando Ideas</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#desarrollandoestrategias">
                            <span>Desarrollando Estrategias</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#enfocandose">
                            <span>Enfocándose</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#tomandodecisiones">
                            <span >Tomando Decisiones</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#adaptandose">
                            <span >Adaptándose al cambio</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#ejecutando">
                            <span>Ejecutando</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#facultando">
                            <span >Facultando Individuos</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#ecuanimidad">
                            <span >Manteniendo la Ecuanimidad</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#persuadiendo">
                            <span >Persuadiendo a la gente</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#cumpliendo">
                            <span>Cumpliendo Fechas</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#dirigiendo">
                            <span >Dirigiendo Personas</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#tomando">
                            <span>Tomando Acción</span>
                        </a>
                    </li><li>
                        <a class="nav-link" href="#analizando">
                            <span >Analizando Información</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#explorando">
                            <span>Explorando Posibilidades</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#trabajando">
                            <span>Trabajando en equipo</span>
                        </a>
                    </li>
                </ul>
            </div>
            <br><br><br>
        </nav>
        <main role="main" class="bobbyback d-flex flex-column align-items-center justify-content-center col-xl-10 col-lg-8">
            <div class="bobby-container ">
                <div class="text-container">
                    <h3>¡Hey, hey, hey! ¡Aquí está tu amigo Bobby Banana en acción!</h3>
                    <br>
                    <p class="contenedorazul">¿Listo para embarcarte en un viaje de descubrimiento y aprendizaje? 
                       Porque nuestro increíble ChatBot de autoaprendizaje está aquí para hacer exactamente eso!
                       Desde curiosidades fascinantes hasta conocimientos profundos, estoy aquí para ayudarte a explorar el universo del saber.
                       ¡Así que adelante, hazme tus preguntas y juntos desentrañaremos los misterios del conocimiento!</p>
                </div>
                <div class="image-container"id="chatbot">
                    <div class="bobyb" src="/static/img/Saltando-al-escenario-Desde-de-unscreen.gif"></div>
                </div>
            </div>



        
          <div class="container mt-5 text-center" id="chatbots">
            <h1 class="color1">CHAT BOT </h1>
            <div class="chat-box mt-3"></div>
        
            <div class="form-group mt-3 p-10 b-r-15">
              <textarea class="form-control" rows="3" placeholder="¿Que desearias saber el dia de hoy?" id="message-input"></textarea>
            </div>
            <br>
            <button type="button" class="btn btn-success btn-lg" id="send-btn">Enviar</button>
          </div>
          <br><br><br><br><br><br> <br><br><br><br><br><br>
          <div class="float-btn" href="#chatbot">
            <a class="btn-wsp"href="#chatbot">
              <i class="fas fa-comment"></i>
            </a>
          </div>
          <!--clase video-->
      <!--clase video-->
          <h1 id="competenciasO">Competencias Organizacionales</h1>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="generando-ideas">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Generando Ideas</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Generar Ideas</li>
                <li>Crear nuevos enfoques</li>
                <li>Adoptar solicitudes radicales</li>
              </ul>
              <p class="mt-4">Es la capacidad de producir nuevos conceptos y nuevas formas de ver los hechos y las relaciones entre estos.
                Implica la capacidad de crear nuevas ideas, desarrollarlas, enriquecerlas, someterlas a crítica y juicio con
                criterios de pragmatismo y viabilidad, e implantarlas para construir con ellas soluciones a problemas planteados o
                generar oportunidades de innovación en cualquier campo profesional.</p>
            </div>
          </div>
          
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="desarrollandoestrategias">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Desarrollando Estrategias</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Formar estrategias</li>
                <li>Anticiparse a tendencias</li>
                <li>Anticiparse al futuro</li>
              </ul>
              <p class="mt-4">Se refiere a la capacidad de formular acciones planificadas con el
                objetivo de alinear recursos y potencialidades y buscando el logro de las
                metas de la organización. Implica la capacidad de prever, o visualizar
                posibles escenarios o eventos que puedan afectar el negocio a mediano
                o largo plazo, generando con un alto grado de ingenio y creatividad, ricas y
                variadas alternativas de solución o abordaje.</p>
            </div>
          </div>
          
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="enfocandose">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Enfocándose</h2>
              <ul class="list-group list-group-flush mt-3 list-group-item border-0">
                <li>Capacidad para trabajar con rapidez</li>
                <li>Capacidad para mantener altos niveles de productividad</li>
                <li>Capacidad para realizar múltiples tareas simultáneamente</li>
              </ul>
              <p class="mt-4">Es la disposición para mantenerse orientado, enfocado a la actividad
                y de lograr resultados para el negocio de manera constante, con fines de
                alcanzar la meta establecida. Implica la actitud para alcanzar
                estándares altos, trabajar de manera rápida, constante y en tareas
                múltiples, manteniendo un alto nivel de productividad. Implica la
                disposición y capacidad para realizar múltiples tareas a la vez.</p>
            </div>
          </div>
          
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="tomandodecisiones">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Tomando Decisiones</h2>
              <ul class="list-group list-group-flush mt-3 list-group-item border-0">
                <li>Basa sus decisiones en información relevante</li>
                <li>Muestra disposición a tomar acción rápidamente</li>
                <li>Asume la responsabilidad de sus acciones</li>
                <li>Identifica, analiza y evalúa opciones ante una decisión</li>
              </ul>
              <p class="mt-4">Es la capacidad para elegir acciones eficaces entre grupos de opciones hábilmente identificadas basado en información relevante disponible. Implica capacidad para decidir rápidamente entre opciones disponibles, así como disposición abierta y casi anhelante a hacerse responsable de decisiones importantes en su área de trabajo, y de demostrar y sostener opiniones sobre asuntos del trabajo. Tomar decisiones implica un proceso personal- sistemático o puntual- de cotejo de opciones que permitan identificar y analizar un problema, identificar aspectos más relevantes, definir prioridades, evaluar opciones, ponderarlas, elegir la opción que se considera mejor. El acto de tomar decisiones, incluye asumir responsabilidad de los resultados.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="adaptandose">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Adaptándose al cambio</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Capacidad para afrontar situaciones de cambio</li>
                <li>Capacidad para tolerar la incertidumbre</li>
                <li>Asume la responsabilidad de sus acciones</li>
                <li>Capacidad para adaptarse a nuevos retos</li>
              </ul>
              <p class="mt-4">Capacidad de reorientar, modificar o adaptarse a nuevos enfoques, estrategias y forma de actuar, ante nuevas situaciones, dificultades, información o cambios en el medio, todo con el fin de alcanzar determinados objetivos del departamento, la unidad o la organización. Hace referencia a la versatilidad en el comportamiento, a la emisión de conductas adaptativas, a la capacidad de tolerar la incertidumbre y adaptarse a nuevos retos y desafíos en el trabajo.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="ejecutando">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Ejecutando</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Capacidad de lograr resultados extraordinarios</li>
                <li>Capacidad para actuar con determinación</li>
                <li>Capacidad para persistir ante las dificultades</li>
              </ul>
              <p class="mt-4">Se refiere a la persistencia en la acción y el logro de los resultados, más allá de las dificultades y obstáculos que se presenten en el camino de la consecución de los objetivos propuestos. Implica una actuación ambiciosa que describe una disposición constante, firme y destacada. Mantiene profunda y arraigada pasión por alcanzar la meta, y determinación para persistir en medio de las dificultades.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="facultando">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Facultando Individuos</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li >Capacidad e interés en motivar e inspirar a compañeros y colaboradores</li>
                <li>Capacidad para inspirar y estimular a la gente a hacer lo mejor en el trabajo</li>
                <li>Capacidad para alentar y dar ánimos a los demás en el trabajo</li>
              </ul>
              <p class="mt-4">Es la habilidad para impulsar, motivar y dirigir a los colaboradores o compañeros de trabajo, en acciones encaminadas a conseguir objetivos específicos de la organización y a estimularles a persistir en el intento hasta alcanzarlo. Las personas con estas competencias encuentran maneras de motivar a sus subalternos y compañeros de trabajo, los alientan a hacer un mayor esfuerzo. Implica activación, dirección y persistencia mediante el liderazgo inspirador, el dar apoyo y ánimo para que los demás hagan siempre su mayor esfuerzo y den “la milla extra”; así como para que hagan sus contribuciones concretas en el trabajo, y de esa forma desarrollen su potencial y mejoren su talento.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="ecuanimidad">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Manteniendo la Ecuanimidad</h2>
              <ul class="list-group list-group-flush mt-3 list-group-item border-0">
                <li >Capacidad para tolerar el estrés</li>
                <li >Capacidad para manejar la presión</li>
                <li>Capacidad para permanecer en calma ante situaciones tensas o difíciles</li>
              </ul>
              <p class="mt-4">Es la habilidad para administrar las emociones personales y evitar reacciones negativas ante provocaciones, oposición u hostilidad de los demás o cuando se trabaja en condiciones de estrés. Implica la capacidad de mantenerse tranquilo en situaciones difíciles, responder y trabajar con eficacia y mostrar un alto desempeño aun a pesar de encontrarse en condiciones constantes de estrés y presión.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="persuadiendo">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Persuadiendo a la gente</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li >Persuadir a los demás</li>
                <li >Moldear e influir las opiniones de los demás</li>
                <li >Negociar</li>
              </ul>
              <p class="mt-4">Es la capacidad de influenciar en las opiniones y acciones de otras personas valiéndose de sus habilidades de persuasión. Incluye la determinación para transmitir sus puntos de vista, ser escuchado y de esa forma modelar opiniones de los demás. Implica también la capacidad de interactuar en procesos de negociación haciendo uso efectivo de la discusión y la argumentación y buscando el mayor acuerdo posible.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="cumpliendo">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Cumpliendo Fechas</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Capacidad para cumplir plazos de entrega</li>
                <li>Capacidad para respetar los cronogramas</li>
                <li>Capacidad para finalizar tareas que ha comenzado</li>
              </ul>
              <p class="mt-4">Es la capacidad y disposición de ejecutar y finalizar con acierto tareas propuestas o asignadas, procurando a lo largo del proceso atender a plazos previamente establecidos. Implica la condición de ser responsable con los plazos establecidos y estar consciente de la interrelación que existe entre las tareas que uno realiza y los insumos que otros necesitan para hacer su trabajo y, por encima de todo, terminar las tareas que se empiezan.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="dirigiendo">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Dirigiendo Personas</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Liderar a personas</li>
                <li>Coordinar grupos de trabajo</li>
                <li>Controlar procesos múltiples que implican la coordinación del trabajo de otros</li>
              </ul>
              <p class="mt-4">Es la habilidad para manejar y liderar efectivamente las actividades y las actitudes de otros, comprendiendo los componentes que implica su trabajo y delegando y asignando las tareas a los colaboradores de acuerdo a las capacidades de cada persona, todo en pro de los objetivos de la unidad, departamento o división a su cargo. Implica la capacidad de visualizar eficientemente las actividades individuales de cada uno de los miembros de un equipo de personas y la capacidad de controlar los procesos y tareas múltiples que se lleven a cabo.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="tomando">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Tomando Acción</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Capacidad para hacer que las cosas sucedan</li>
                <li>Capacidad para usar la iniciativa y energía para lograr superar obstáculos</li>
                <li>Muestra impaciencia para empezar los trabajos</li>
              </ul>
              <p class="mt-4">Habilidad para trabajar con dinamismo y tenacidad, asegurando que se logren los resultados y superando obstáculos que puedan surgir en el camino. Implica capacidad para lograr metas en situaciones cambiantes, con ambientes y audiencias diversas, o en jornadas prolongadas, sin afectar el desempeño. También implica la tendencia a la acción más que al pensamiento y hasta la impaciencia por empezar los trabajos. Se asocia con la capacidad para mostrar y sostener altos niveles de energía y empuje.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="analizando">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Analizando Información</h2>
              <ul class="list-group list-group-flush mt-3  list-group-item border-0">
                <li>Comprender y procesar información</li>
                <li>Indagar con sagacidad</li>
                <li>Encontrar soluciones</li>
              </ul>
              <p class="mt-4">Es la capacidad de interactuar con la información de manera analítica, buscando entender y conocer las situaciones y problemas. Se manifiesta por la capacidad para analizar objetiva y totalmente la información disponible, así como la capacidad para hacer preguntas sagaces que permitan comprender cabalmente las situaciones, y la capacidad dirigir y sostener las energías propias hacia la búsqueda de soluciones a los problemas.</p>
            </div>
          </div>       
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="explorando">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Explorando Posibilidades</h2>
              <ul class="list-group list-group-flush mt-3 list-group-item border-0">
                <li >Desarrollar conceptos</li>
                <li >Aplicar teorías</li>
                <li>Identificar principios subyacentes</li>
              </ul>
              <p class="mt-4">Es la capacidad de recopilar, interpretar e integrar información con el fin de crear nuevas imágenes mentales de los hechos y proponer alternativas novedosas y originales, dándoles sentido de una nueva manera, o dando respuesta a los requerimientos habituales o inesperados del trabajo. Implica la investigación, exploración y experimentación permanente de nuevas ideas, enfoques, soluciones originales y poco convencionales a los problemas.</p>
            </div>
          </div>
          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex flex-column align-items-center" id="trabajando">
            <div class="container mt-5 text-justify p-4 informacion">
              <h2 class="color1">Trabajando en Equipo</h2>
              <ul class="list-group list-group-flush mt-3 list-group-item border-0">
                <li >Capacidad para promover una actitud crítica constructiva por parte de los otros</li>
                <li >Capacidad de escuchar a los demás y comprender por qué hacen las cosas</li>
                <li >Capacidad para fomentar las contribuciones del equipo</li>
              </ul>
              <p class="mt-4">Capacidad para establecer relaciones de participación y cooperación con otras personas dentro de un grupo de trabajo o un departamento. Implica el compartir recursos y conocimiento, armonizando intereses y contribuyendo activamente al logro de los objetivos de la organización. Implica además el subordinar los propios intereses a los intereses comunes. Asimismo, mostrar una conducta empática y una búsqueda activa de intentar comprender qué motiva la conducta de otros.</p>
            </div>
          </div>
        </div>
      </div>
      <footer>
      </footer>
      <script src="{{ url_for('static', filename='js/conversacion.js') }}"></script>
      <script>
  
      </script>
    </body>
</html>
